<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto molestias repellendus sequi est, necessitatibus perferendis dignissimos debitis quos distinctio consequatur beatae ullam enim neque consequuntur provident. Iste consectetur eius laborum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto molestias repellendus sequi est, necessitatibus perferendis dignissimos debitis quos distinctio consequatur beatae ullam enim neque consequuntur provident. Iste consectetur eius laborum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto molestias repellendus sequi est, necessitatibus perferendis dignissimos debitis quos distinctio consequatur beatae ullam enim neque consequuntur provident. Iste consectetur eius laborum.</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>    